{% assign lang = site.active_lang %}
<header class="px-2 header-sticky flex navigation">
  <div class="left py-1 mt-1 mt-lg-0">
    <a class="link-primary text-accent" id="greet" href="{{ site.baseurl }}/">{{ site.data[lang].greet }}, {{ site.user_name }}</a>
  </div>
  <nav class="right py-1 mt-1 mt-lg-0">
    <ul class="list-reset right py-1 header-text font-smoothing mt-lg-1 mb-2 mb-lg-1">
      {% assign sorted_pages = site.pages | sort: "order" %}
      {% for page in sorted_pages %}
        {% if page.title and page.permalink != '/404' and page.lang == lang %}
          <li class="inline-block">
            <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ page.url | prepend: site.baseurl }}">
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="inline-block">
        {% include theme-toggle.liquid class="inline-block align-top ml-2" %}
      </li>
    </ul>
  </nav>
</header>
