<!doctype html>
{% assign lang = site.active_lang %}
<html lang="{{ lang }}">
  {% include head.liquid %}
  <body>
    <div class="site-wrapper">
      <div class="site-content">
        <header class="header-background px-2">
          <nav class="clearfix header-sticky py-1 mt-1 mt-lg-0">
            <ul class="list-reset right py-1 header-text font-smoothing mt-lg-1 mb-2 mb-lg-1">
              {% assign sorted_pages = site.pages | sort: 'order' %}
              {% for page in sorted_pages %}
                {% if page.title and page.permalink != '/404' and page.lang == lang %}
                  <li class="inline-block">
                    <a class="align-middle link-primary header-link mr-2 mr-lg-0 ml-lg-2" href="{{ page.url | prepend: site.baseurl }}">
                      {{- page.title -}}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="inline-block">
                {% include theme-toggle.liquid class="header-link" %}
              </li>
            </ul>
          </nav>
          <div class="container mx-auto px-2 mb-2 clearfix header-text">
            <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.data[lang].title }}</h1>
            <div class="clearfix mb-4 py-1">
              <div class="col-4 sm-width-full left border-top-thin">
                <div class="table">
                  <div class="inline-block mt-3 mr-1">
                    {% include dot-accent.liquid %}
                  </div>
                  <div class="inline-block mt-3 mr-1">
                    {% include dot-accent.liquid %}
                  </div>
                  <div class="inline-block mt-3">
                    {% include github.liquid %}
                  </div>
                </div>
                <!-- Set site description in config.yml -->
                <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.data[lang].description }}</p>
              </div>

              <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot.liquid %}
                </div>
                {% if site.linkedin_username %}
                  <div class="inline-block mt-3 mr-1">
                    {% include linkedin.liquid %}
                  </div>
                {% endif %}
                {% if site.medium_username %}
                  <div class="inline-block mt-3 mr-1">
                    {% include medium.liquid %}
                  </div>
                {% endif %}
                {% if site.bluesky_username %}
                  <div class="inline-block mt-3 mr-1">
                    {% include bluesky.liquid %}
                  </div>
                {% endif %}
                {% if site.twitter_username %}
                  <div class="inline-block mt-3 mr-1">
                    {% include twitter.liquid %}
                  </div>
                {% endif %}
                {% if site.instagram_username %}
                  <div class="inline-block mt-3 mr-1">
                    {% include instagram.liquid %}
                  </div>
                {% endif %}
                {% if site.user_email %}
                  <div class="inline-block mt-3 mr-1">
                    {% include email.liquid %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </header>
      </div>
      {% if site.posts != empty %}
        <div class="container mx-auto px-2 py-4">
          {% for post in site.posts limit: 4 %}
            {% if post.lang == lang %}
              {% include post_block.liquid %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% include footer.liquid %}
    </div>
  </body>
</html>
